.add-button {
	margin: 20px;
	margin-right: 9%;
	float: right;
}

.question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightgrey;
	margin: 3%;
	padding: 2%;
	padding-left: 8%;
	border-radius: 10px;
}

.question-title {
	text-align: left;
	font-size: 1.5em;
}

.question-inner {
	display: flex;
	justify-content: flex-start;
}

.question-left {
	width: 100%;
}

.question-left input[type=text] {
	width: 50vw;
}

.question-panel button {
	width: 100%;
}

.survey {
	margin: 5em;
	text-align: center;
}

.edit-popup {
	display: flex;
	flex-direction: column;
}

.edit-radio {
	text-align: center;
}

input[type=submit] {
	padding-left: 3em;
	padding-right: 3em;
	padding-top: .5em;
	padding-bottom: .5em;
}
.temp{
	display: flex;
	width: 20%;
	height: 5%;
	padding-left: 8%;

}
