.qeditor {
	display: flex;
	justify-content: space-between;
	color: white;
	border-radius: 15px;
	background-color: #282828;
	padding: 1%;
}

.qeditor-left {
	width: 50%;
	padding: 1%;
	margin-right: .5%;
	border-radius: 15px;
	background-color: #585858;
}

.qeditor-left ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.qeditor-question, .qeditor-question-selected, .qeditor-left-bar {
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: #C0C0C0;
	margin: 1%;
	margin-left: 0;
	margin-right: 0;
	padding: 1%;
	background-color: #C0C0C0;
	color: black;
	cursor: pointer;
}

.qeditor-question-selected {
	background-color: #282828;
	border-color: #F0F0F0;
	margin-left: 3%;
	color: white;
}

.qeditor-left li:hover {
	background-color: #282828;
	border-color: #282828;
	color: white;
}

.qeditor-left-bar {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5%;
	border-color: #F0F0F0;
	background-color: #F0F0F0;
}

.qeditor-right {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 1%;
	margin-left: .5%;
	border-radius: 15px;
	background-color: #585858;
}

.qeditor-right input {
	margin: 1%;
	margin-left: 0;
	margin-right: 0;
	font-size: 1.5em;
}

.qeditor-right select {
	margin: 1%;
	margin-left: 0;
	margin-right: 0;
	font-size: 1.25em;
}
